.btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: var(--ff-subtitle);

    &.primary {
        background: var(--primary);
        color: #fff;

        &:hover {
            background: var(--primary-hover);
        }
    }
}