.button {
    padding: 1rem 2rem;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: var(--ff-subtitle);

    &.primary {
        background: var(--primary);
        color: #fff;

        &:hover {
            background: var(--primary-hover);
        }
    }

    &.menu-btn {
        display: inline-block;
        padding: 0;
        border-radius: 10px;
        color: var(--primary);
        transition: all .4s;
        padding: 1rem;
        width: fit-content;

        & svg {
            width: 25px;
            height: 25px;
        }

        &:hover {
            color: var(--container);
            background: var(--primary-hover);
        }
    }

    &.btn-icon {
        padding: .4rem;
        color: var(--primary);
        transition: all .2  s;

        &:hover {
            color: var(--primary-hover);
        }

        & svg {
            width: 25px;
            height: 25px;
        }
    }

    &.scrollBtn{
        position: fixed;
        z-index: 100;
        right: 5%;
        bottom: -200%;
        padding: 1rem 1.3rem;
        transition: all .4s;
        &.show{
            bottom: 15%;
        }
    }
}